* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Alien';
    src: url(fontes/Alien\ Robot.otf);
}

@font-face {
    font-family: 'Robclone';
    src: url(fontes/roboclone.ttf);
}

@font-face {
    font-family: 'Robosapien';
    src: url(fontes/robosapien.ttf);
}

@font-face {
    font-family: 'Robotaur';
    src: url(fontes/robotaur.ttf);
}

@font-face {
    font-family: 'RCCRobo';
    src: url(fontes/RCCRobo.ttf);
}

@font-face {
    font-family: 'ClasicRobo';
    src: url(fontes/Classic\ Robot\ Bold.otf);
}

@font-face {
    font-family: 'Robomonster';
    src: url(fontes/Robot\ Monster.otf);
}


header {
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden;

}

header>img {
    width: 8%;
    height: 8%;
    margin: 0rem;

}

header>h1 {
    margin-left: 5rem;
    font-family: 'Alien', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    box-shadow: 10px 10px rgb(50, 73, 205);

}


.item-opcoes {
    padding: 0;
    width: 40rem;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 22rem;
}

.item-opcoes>a {
    font-size: 1em;
    color: black;
    text-decoration: none;
    margin-right: 2rem;
    font-family: 'ClasicRobo', Verdana, Geneva, Tahoma, sans-serif;
}

#item2-opcoes {
    font-size: 1em;
    text-decoration: none;
    margin-left: 2rem;
    font-family: 'ClasicRobo', Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
}

#item2-opcoes>p {
    margin-left: 2rem;
}



#opcoes>li>a>img {
    width: 15%;
    height: 15%;
    background-color: transparent;
}

/* carrousel section */
.titulo {
    text-align: center;
    font-size: 3rem;
    padding-top: 0rem;
    font-family: 'ClasicRobo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.61);
    /* box-shadow: 0px 1px red; */
}

.caixa-carrousel {
    width: 640px;
    height: 400px;
    margin: 50px auto 0;
    overflow: hidden;
    margin-top: 15px;
}

.caixa-carrousel ul {
    display: flex;
    padding: 0;
    width: 100%;
    animation: slide 60s infinite alternate ease-in-out;
}

.caixa-carrousel li {
    width: 100%;
    list-style: none;
    /* position: relative; */
}

.texto {
    position: absolute;
    top: 300px;
    color: white;
    font-family: 'Robosapien', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.texto h2 {
    font-family: 'Robosapien', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-style: oblique;
    margin-left: 10%;
    margin-right: 50%;
    color: rgb(255, 255, 255);
    text-align: center;

}


.caixa-carrousel img {
    width: auto;
    height: auto;
}

hr {
    margin: 20px 100px;
    width: 80%;
    color;
    /* border-color: red; */
    height: 1px;
    box-shadow: 0px 1px red;

}

#inf_imagen1 div div {
    /* background-color: rgb(30, 255, 0); */
    /* display: flex; */
    align-items: center;
    /* margin: 55px 55px; */
}

#inf_imagen1 div div img {
    margin: 0px 400px;
    /* 75% da imagen */
    width: 480px;
    height: 360px;
}

#inf_imagen1 div div h2 {
    margin: 20px 100px;
    font-family: 'ClasicRobo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

#inf_imagen1 div div p {
    margin: 20px 100px;
    font-family: monospace;
    text-align: justify;
    font-size: 130%;
}

#inf_imagen3 div div {
    /* background-color: rgb(30, 255, 0); */
    /* display: flex; */
    align-items: center;
    /* margin: 55px 55px; */
}

#inf_imagen3 div div img {
    margin: 0px 400px;
    /* 75% da imagen */
    width: 480px;
    height: 360px;
}

#inf_imagen3 div div h2 {
    margin: 20px 100px;
    font-family: 'ClasicRobo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

#inf_imagen3 div div p {
    margin: 20px 100px;
    font-family: monospace;
    text-align: justify;
    font-size: 130%;
}

#inf_imagen2 div div {
    /* background-color: rgb(30, 255, 0); */
    /* display: flex; */
    align-items: center;
    /* margin: 55px 55px; */
}

#inf_imagen2div div img {
    margin: 0px 400px;
    /* 75% da imagen */
    width: 480px;
    height: 360px;
}

#inf_imagen2 div div h2 {
    margin: 20px 100px;
    font-family: 'ClasicRobo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

#inf_imagen2 div div p {
    margin: 20px 100px;
    font-family: monospace;
    text-align: justify;
    font-size: 130%;
}

#voltar_ao_inicio {
    display: flex;
    text-decoration: none;
    align-items: center;
}

#voltar_ao_inicio img {
    width: 2.5%;
    height: 1.25%;
    margin-left: 30rem;

}

#voltar_ao_inicio p {
    margin-left: 20px;
    font-size: 25px;
    font-family: 'ClasicRobo', Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.sub-titulos {
    color: rgb(5, 5, 104);
}

/* slides */
@keyframes slide {
    0% {
        margin-left: 0;
    }

    5% {
        margin-left: 0;
    }

    17% {
        margin-left: -100%;
    }

    22% {
        margin-left: -100%;
    }

    24% {
        margin-left: -200%;
    }

    29% {
        margin-left: -200%;
    }

    31% {
        margin-left: -300%;
    }

    36% {
        margin-left: -300%;
    }

    38% {
        margin-left: -400%;
    }

    43% {
        margin-left: -400%;
    }

    45% {
        margin-left: -500%;
    }

    50% {
        margin-left: -500%;
    }

    52% {
        margin-left: -600%;
    }

    57% {
        margin-left: -600%;
    }

    59% {
        margin-left: -700%;
    }

    64% {
        margin-left: -700%;
    }

    66% {
        margin-left: -800%;
    }

    71% {
        margin-left: -800%;
    }

    73% {
        margin-left: -900%;
    }

    78% {
        margin-left: -900%;
    }

    83% {
        margin-left: -1000%;
    }

    85% {
        margin-left: -1000%
    }

    87% {
        margin-left: 0;
    }

    100% {
        margin-left: 0;
    }

}